<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header" />
<link rel="stylesheet" type="text/css" th:href="@{css/mycss.css}">
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- side_bar  -->
        <div th:replace="nav::student_sidebar"></div>
        <!-- /side_bar  -->

        <!-- top navigation -->
        <div th:replace="nav::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>作业</h3>
                    </div>
                    <div th:replace="nav::title_search"></div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">

                                <!-- 导航 -->
                                <nav class="navbar navbar-inverse navbar-fixed-top" style="position:inherit;">
                                    <div class="container" style="position:absolute;">
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="https://github.com/Vimmone/Chatrum">
                                                <span class="glyphicon glyphicon-th-large"></span>
                                                我的聊天室
                                            </a>
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target="#navbar-collapse">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="collapse navbar-collapse" id="navbar-collapse">
                                            <ul class="nav navbar-nav navbar-right" >
                                                <li class="disable">
                                                    <a>
                                                        <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;
                                                        <span id="username" style="display: none;"  th:text="${session.user.name}"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <form class="navbar-form navbar-left">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control " placeholder="请输入内容"
                                                           id="chat">
                                                </div>
                                                <button type="button" class="btn btn-warning " id="sendMessage">发送
                                                </button>
                                                <button type="button" class="btn btn-danger " onclick="clean()">删除记录
                                                </button>
                                            </form>

                                        </div>

                                    </div>
                                </nav>

                                <br><br><br>
                                <!-- 主体模块 -->
                                <div class="container-fluid main">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <ul class="media-list" id="messageList">
                                                <!-- 存放消息 -->
                                            </ul>
                                        </div>
                                        <div class="col-md-3 hidden-xs hidden-sm ">
                                            <div class="list-group " id="userlist">
                                                <!-- 存放在线用户 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        <!-- footer content -->
        <footer th:replace="template::footer"></footer>
        <!-- /footer content -->
    </div>
</div>
<script th:src="@{/js/myjs.js}"></script>
</body>
</html>
